.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-container {
    width: 100%;
    flex: 1;
    background-color: #1a1a1a;
}